@import "tailwindcss";

body {
  /* Latar belakang putih mutiara dengan gradasi halus agar efek kaca terlihat */
  background-color: #fbfbfd;
  background-image: 
    radial-gradient(at 0% 0%, rgba(240, 240, 245, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(235, 235, 240, 1) 0px, transparent 50%);
  background-attachment: fixed;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #1d1d1f;
  color: #fbfbfd;
}

/* True Glassmorphism (Apple Style) */
.true-glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.04);
}

.true-glass:hover {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
}